# Python bytecode 
__pycache__/

# Virtual Environments
venv/
.venv/

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# Documentation (specifically for PDF file)
docs/*.pdf

# IDE settings
.vscode/

# Generating outputs (Figures)
figures/

# System files 
.DS_Store
Thumbs.db
